#compilertext {
  height: 10em;
  width: 100%;
  color: white;
  background-color: rgb(22,22,22);
}

#compilebtn {
  width: 15em;
}

#main {
  background-color: #191919;
  margin-top: 4.5em;
}

#editor {
    height: 60em;
    position: relative;
}
